.jumbotron
  %h1 This chunker is outside!
.container
  .jumbotron
    %h1 My first bootstrap page
    %p resize this to admire it
  .row
    .col-sm-4
      one
    .col-sm-8
      eighty
      .alert.alert-success
        What's up! bossman
        %a.close{data: {dismiss: :alert}} no
  .row
    .col-sm-8
      yeah buddy
    .col-sm-4
      yeah again
    
